/*
Global colors
DARK PRIMARY : #D32F2F
LIGHT PRIMARY: #FFCDD2
PRIMARY COLOR: #F44336
TEXT ICON: #FFFFFF
ACCENT COLOR :#03A9F4
PRIMARY COLOR:#212121
DIVIDER COLOR: #BDBDBD
SECONDARY COLOR: #757575


*/

body{
    background-color: rgba(255, 205, 210, 0.27);
    color: #212121;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/*Start header section style*/
#header-section{
    background-color:#D32F2F ;
    height: 5vh;
    text-align: center;
    padding-top: 10px;
    color:#FFFFFF ;
}
/*End header section style*/


/*start navbar section style*/
.navbar {
  min-height: 90px;
}

.navbar-brand {
  padding: 0 15px;
  height: 90px;
  line-height: 80px;
}

.navbar-custom{
    color: #FFFFFF;
    background-color: #F44336;
}
.navbar-custom a{
    color: #FFFFFF ;
}
.navbar-custom form input[type='search']{
    border: 1px solid #FFFFFF;
    color: #F44336 ;
    border-radius: 0;
}
.navbar-custom form button{
    background-color: #03A9F4;
   color: #FFFFFF;
}
.navbar-custom form button:hover{
    background-color:#FFCDD2;
    color: #212121;
}
.navbar #auth-form {
    background-color: rgba(255, 205, 210, 0.29);
    font-weight: bold;
}
.navbar #auth-form form input[type='email'], .navbar #auth-form form input[type='password']{
    background-color: #FFFFFF;
    border: 2px solid #D32F2F  ;
    color: #F44336 ;
    padding: 5px;
}
.navbar #auth-form form button{
    background-color:#D32F2F ;
    border: 1px solid #D32F2F;
}
/*End navbar section style*/
/*Start carousel section style*/
#carousel-section .carousel-inner > .item > img {
  height:200px;
}
/*End carousel section style*/


/*Start product section style*/
#top-card{
    padding: 10px;
    margin-top: 20px;
}
#card-inner{
    border-radius: 0;
}
#card-inner .card-body{
    border: 1px solid #FFCDD2;

}
#card-inner .card-body p{
    /*background-color: #F44336;*/
    font-weight: bold;
    color:  #D32F2F;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #D32F2F;
    text-align: center;

}
#card-inner .card-body p:hover{
   background-color: #F44336;
    color: #FFFFFF;
}

/*start section detail product*/
#product-section{
    padding: 5px;
}
#product-section .card-top{
    margin-top: 20px;
}
#product-section .detail{
    height:25vh;
}
#product-section .detail h3{
    color: #F44336;
    text-align: center;
    padding: 10px;
}
#product-section .row{
    margin-bottom: 5px;
}
#product-section button{
    border-radius: 0;
}
#product-section  .btn-info{
   background-color:  #F44336;;
}
/*end section detail product*/

/*End product section style*/


/*Start Footer section style*/
#section-footer{
    background-color:#F44336;
    padding: 10px;
    text-align: center;
}
#section-footer .about{
   text-align: center;
}

#section-footer .values .card, #section-footer .links .card {
      background-color: rgba(255, 205, 210, 0.27);
    color: #FFFFFF;
}
#section-footer .links .card a{
    text-decoration: none;
    color: #ffffff;

}
#section-footer .links .card ul{
        list-style-type: none;
}
/*End Footer section style*/


/*Start  auth form section style*/

#section-auth{
    margin-top: 10rem;
    color:#212121;
    font-weight: bold;
}
#section-auth fieldset{
    border: 2px solid #d9534f;
    margin-bottom: 6.5rem;
    padding: 1.5rem;
    text-align: center;
    line-height: 0;
}
#section-auth input[type='email'],#section-auth input[type='password'],#section-auth input[type='text']{
    padding: 5px;
    border: 1px solid #d9534f;
    background-color: rgba(255, 182, 174, 0.09);;
}
#section-auth label{
    margin: 15px;
}
#section-auth button{
    margin-top: 25px;
}
#section-auth .try{
    margin: 1rem;
}
#section-auth span{
    font-weight: bolder;
}
#section-auth a{
    color: #d9534f;
    margin: 7px;
}
/*Start  dashbaord style*/
#section-dashboard {
    background-color: rgba(255, 205, 210, 0.27);
}
#section-dashboard .card{
    margin-top: 5px;
    background-color: rgba(255, 205, 210, 0.27);
    border: transparent;

}
#section-dashboard form{
    margin-top: 10px;
    background-color: rgba(255, 205, 210, 0.27);
}
#section-dashboard form input[type='text'],input[type='number'],input[type='textarea']{
    border-radius: 0;
    border:2px solid #d9534f;
    color:#d9534f;
    background-color: rgba(217, 83, 79, 0.39);
}
#section-dashboard fieldset{
    padding: 10px;
    border-radius: 0;
    border:2px solid #d9534f;
    margin-top: 0;
}
#section-dashboard fieldset hr{
    border-radius: 0;
    border:1px solid #d9534f;
}
#section-dashboard fieldset button{
    border:1px solid #d9534f;
    background-color: #d9534f;
    border-radius: 0;

}
/*End  dashbaord section style*/