<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--bootstrap css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

        <!--css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

        <script src="{{ url_for('static',filename='js/main.js') }}"></script>
        <title>{% block title %}{{ title }}{% endblock title %}</title>

    </head>
    <body>

    <!--Start navbar section-->
    <header id="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-xl-2">
                   <h6> App Download</h6>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="contact-details">
                        <span>Phone: +25456789035 Email: Example@exmaple.com</span>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <h6>Help Center</h6>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-custom">
        <a class="navbar-brand" href="{{ url_for('index') }}">Sneek collections</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse container"  id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Phones</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="#">Bags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dresses</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Electronics</a>#}
{#                </li>#}
                {% if session['admin']== True %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                {% endif%}
                {% if cart_count %}
                   <a href="{{ url_for('shopping_cart')  }}" class="btn btn-warning" style="padding: 5px;margin: 5px">Shopping Cart<span class="badge badge-warning" style="margin:3px ; border: 1px solid red">{{ cart_count }}</span></a>

                {% endif %}
            </ul>
        {% if current_user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account',username=user.username) }}">Account</a>
               </li>
          </ul>
        {% endif %}
            <form class="form-inline " style="text-align: center;">
              <div class="input-group">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
{#                   <button type="submit"><i class="fa fa-search"></i></button>#}
              </div>
            </form>

             {% if current_user.is_anonymous %}
            <div class="btn-group " id="auth-form">
                  <a type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu dropdown-menu-left" id="auth-form">
                      <form action="{{ url_for('login') }}" class="px-xl-4" style="width: 250px" method="post">
                          {{ form.hidden_tag() }}
                          <h4 style="text-align: center">Login </h4>
                          <hr>
                          <div class="form-group">
                                <label for="exampleDropdownFormEmail2">{{ form.email.label }}</label>
                                {{ form.email(size=32, placeholder="email@example.com", class="form-control",type="email",id="exampleDropdownFormEmail2") }}
                                {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                          </div>

                            <div class="form-group">
                                <label for="exampleDropdownFormEmail2">{{ form.password.label }}</label>
                                {{ form.password(size=32, placeholder="password", class="form-control",type="password",id="") }}
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                            <label class="form-check-label" for="dropdownCheck2">
                              Remember me
                            </label>
                          </div>
                          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                          <div style="text-align: center">
                              or <br>
                          <a href="{{ url_for('signup') }}" style="color: black">Create an Account</a>
                          </div>
                      </form>

                  </div>
                </div>
        </div>
         {% else %}
            <a href="{{ url_for('logout')  }}" class="btn btn-danger">Logout</a>
        {% endif %}

    </nav>
    <!--End navbar section-->

    {% block content %}
        {% block body %}
        {% endblock body %}


        <!--Footer section-->
        <footer id="section-footer" >
            <div class="values">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem doloremque, earum enim eos, eveniet fugiat illo minus optio pariatur perferendis
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Sneek collections</h3>
                <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, animi assumenda corporis deleniti deserunt eaque earum explicabo fuga hic magnam magni modi molestiae neque non obcaecati rem totam velit vero
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, animi assumenda corporis deleniti deserunt eaque earum explicabo fuga hic magnam magni modi molestiae neque non obcaecati rem totam velit vero
                 consectetur adipisicing elit. Amet, animi assumenda corporis deleniti deserunt eaque earum explicabo fuga hic magnam magni modi</p>
            </div>
            <hr>
            <div class="links container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <p class="card-header">Shopping guide</p>
                            <div class="card-body">
                                <ul >
                                <li><a href="">Forgot password</a></li>
                                <li><a href="">Making payments</a></li>
                                <li><a href="">Forgot password</a></li>
                                <li><a href="">Forgot password</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <p class="card-header">Get Intouch</p>
                            <div class="card-body">
                                <ul >
                                <li><a href="">Get Intouch</a></li>
                                <li><a href="">Making payments</a></li>
                                <li><a href="">Forgot password</a></li>
                                <li><a href="">Forgot password</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <p class="card-header">Get Help</p>
                            <div class="card-body">
                                <ul >
                                <li><a href="">Forgot password</a></li>
                                <li><a href="">Making payments</a></li>
                                <li><a href="">Forgot password</a></li>
                                <li><a href="">Forgot password</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer section-->
    {% endblock content %}



    <!--Links to jquery-3.4.1-->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>

    <!--Links to bootstrap jquery-3.4.1-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>