<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--bootstrap css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

        <!--css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main') }}">
        <title>{% block title %}{{ title }}{% endblock title %}</title>

    </head>
    <body>




    <!--Links to jquery-3.4.1-->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>

    <!--Links to bootstrap jquery-3.4.1-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>