<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--bootstrap css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

        <!--css links-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

        <script src="{{ url_for('static',filename='js/main.js') }}"></script>
        <title>{% block title %}{{ title }}{% endblock title %}</title>

    </head>
    <body id="checkedout">
        <div class="container">
            <div class="jumbotron">
                <h3>Thank you for shopping with Sneek Collections</h3>
                <p class="lead">We are here to serve you</p>
                <a href="{{ url_for('index') }}">Go Shopping</a>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" id="card-inner">
                        <img src="{{url_for('static',filename='images/brands/brand4.jpg')}}" alt="" style="height: 220px">
                        <div class="card-body">
                            <p class="">
                               Vans
                            </p>
                            <span>Ksh:3000</span>
                            <button class="btn btn-danger btn-block">Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" id="card-inner">
                        <img src="{{url_for('static',filename='images/brands/brand4.jpg')}}" alt="" style="height: 220px">
                        <div class="card-body">
                            <p class="">
                               Vans
                            </p>
                            <span>Ksh:3000</span>
                            <button class="btn btn-danger btn-block">Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" id="card-inner">
                        <img src="{{url_for('static',filename='images/brands/brand4.jpg')}}" alt="" style="height: 220px">
                        <div class="card-body">
                            <p class="">
                               Vans
                            </p>
                            <span>Ksh:3000</span>
                            <button class="btn btn-danger btn-block">Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" id="card-inner">
                        <img src="{{url_for('static',filename='images/brands/brand4.jpg')}}" alt="" style="height: 220px">
                        <div class="card-body">
                            <p class="">
                               Vans
                            </p>
                            <span>Ksh:3000</span>
                            <button class="btn btn-danger btn-block">Add to cart</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>