{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <section id="shoppingcart-section">
        <div class="container">
            <div class="row">

                    <div class="col-md-9 col-lg-9 col-xl-9">
                         {% if carts %}
                    {% for cart in carts %}
                        <div class="card" style="margin: 5px">
                           <div class="row">
                               <div class="col-md-3 col-lg-3 col-xl-3">
                                   <img src="{{url_for('static',filename='images/brands/brand4.jpg')}}" alt="" style="height: 70px">
                               </div>
                               <div class="col-md-6 col-lg-6 col-xl-6">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur consequatur,
                                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur consequatur,</p>
                               </div>
                               <div class="col-md-3 col-lg-3 col-xl-3">
                                   <a href="{{ url_for('remove', cart_id=cart.id) }}">Remove</a> <br>
                                   <a href="">Save later</a>
                               </div>
                           </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                    </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="card" style="margin-top: 5px">
                        <h3 class="card-header">Total</h3>

                        <div class="card-body">
                              <h5 class="">Ksh {{total}}</h5>
                              <h6>Quantity: {{ cart_count }}</h6>
                            <a href="{{ url_for('checkout') }}" class="btn btn-danger btn-block">Checkout</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock body %}